-r requirements-production.txt

# testing
pytest
pytest-order
pytest-asyncio
pytest-cov
polyfactory

pre-commit

#
Pylint          # linter
pylint-mccabe
black           # reformatter
autoflake       # reformatter
