-r requirements-production.txt

# testing
pytest
httpx  # https://fastapi.tiangolo.com/tutorial/testing/#using-testclient

pre-commit

#
Pylint          # linter
pylint-mccabe
pylint-django
black           # reformatter
