-r requirements-production.txt

# testing
pytest
pytest-asyncio
polyfactory

pre-commit

#
Pylint          # linter
pylint-mccabe
pylint-django
black           # reformatter
autoflake       # reformatter
