DEBUG=True

# for cors and routing
HOST_NAME=localhost
HOST_ADDR=http://localhost

#
DJANGO_ADMIN_USERNAME = admin
DJANGO_ADMIN_PASSWORD = password

# postgres server env vars
DB_NAME=
DB_USER=
DB_PASSWORD=

# this is for backend services to talk to
INTERNAL_API_KEY=
